<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title>Pokemon</title>
        <link rel="stylesheet" href="{%static 'css/main.css'%}">
    </head>
    <body>
        <main>
        <h1>Here is your new Pokemon team</h1>
            <div id="pokemons">
                <img class="pokepic" src="{{pic}}">
                <img class="pokepic" src="{{pic0}}">
                <img class="pokepic" src="{{pic1}}">
                <img class="pokepic" src="{{pic2}}">
                <img class="pokepic" src="{{pic3}}">
                <img class="pokepic" src="{{pic4}}">
            </div>
        </main>
    </body>
</html>